PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE scraped_data (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    source TEXT NOT NULL,
                    title TEXT,
                    content TEXT,
                    url TEXT UNIQUE,
                    category TEXT,
                    tags TEXT,
                    metadata TEXT,
                    scraped_at DATETIME DEFAULT CURRENT_TIMESTAMP,
                    published_at DATETIME
                );
CREATE TABLE daily_stats (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    date DATE NOT NULL UNIQUE,
                    total_count INTEGER,
                    new_count INTEGER,
                    source_counts TEXT,
                    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
                );
DELETE FROM sqlite_sequence;
CREATE INDEX idx_source ON scraped_data(source);
CREATE INDEX idx_category ON scraped_data(category);
CREATE INDEX idx_url ON scraped_data(url);
COMMIT;
